In [1]:
import pandas as pd
import numpy as np

In [2]:
#vehicle traveling data
id_vtd = pd.read_csv('./Train_Data/Train_Vehicletravellingdata.csv')
print(id_vtd.head())
#weather data
id_wd = pd.read_csv('./Train_Data/Train_WeatherData.csv')
id_wd = id_wd.drop('V1', axis=1)
print(id_wd.head())
#contains result column
id_r = pd.read_csv('./Train_Data/Train.csv')
print(id_r.head())

         ID                   V1  V3  V4     V7  V8     V9   V10    V11  V18
0  DR_24526  2012-03-21 09:14:55   1  81  57227  87  16986   941   94.0  Dry
1  DR_24526  2012-03-21 09:15:07   1  88  57229  81   1708   551   11.0  Dry
2  DR_24526  2012-03-21 09:15:12   1  88  57230  88  22892  1698    4.0  Dry
3  DR_24526  2012-03-21 09:15:48   2  84  57228  89   1945   544  127.0  Dry
4  DR_24526  2012-03-21 09:15:54   1  89  57231  88  13787  1893   42.0  Dry
         ID  V12    V13   V14   V15    V16  V17       V19
0  DR_24526  7.0  clear  None  95.0  146.0  1.0  daylight
1  DR_24526  7.0  clear  None  95.0  124.0  0.0  daylight
2  DR_24526  7.0  clear  None  95.0  124.0  0.0  daylight
3  DR_24526  7.0  clear  None  95.0  124.0  0.0  daylight
4  DR_24526  7.0  clear  None  95.0  124.0  0.0  daylight
         ID    V2     V5  V6  DrivingStyle
0  DR_24526  1265  10243   2             2
1  DR_30052  1680  30871   6             2
2  DR_40928   936   3224   4             2
3  DR_66033  1503   3315   4             2
4  DR_45266   929   3022   4             2

In [3]:
# merge vtd and wd
id_merge = pd.merge(id_vtd, id_wd, on=['ID','ID'])
# merge r with previous
id_merge = pd.merge(id_merge, id_r, on=['ID','ID'])
print(id_merge.head())

         ID                   V1  V3  V4     V7  V8     V9  V10   V11  V18  \
0  DR_24526  2012-03-21 09:14:55   1  81  57227  87  16986  941  94.0  Dry
1  DR_24526  2012-03-21 09:14:55   1  81  57227  87  16986  941  94.0  Dry
2  DR_24526  2012-03-21 09:14:55   1  81  57227  87  16986  941  94.0  Dry
3  DR_24526  2012-03-21 09:14:55   1  81  57227  87  16986  941  94.0  Dry
4  DR_24526  2012-03-21 09:14:55   1  81  57227  87  16986  941  94.0  Dry

   ...    V13   V14   V15    V16  V17       V19    V2     V5  V6  DrivingStyle
0  ...  clear  None  95.0  146.0  1.0  daylight  1265  10243   2             2
1  ...  clear  None  95.0  124.0  0.0  daylight  1265  10243   2             2
2  ...  clear  None  95.0  124.0  0.0  daylight  1265  10243   2             2
3  ...  clear  None  95.0  124.0  0.0  daylight  1265  10243   2             2
4  ...  clear  None  95.0  124.0  0.0  daylight  1265  10243   2             2

[5 rows x 21 columns]

In [4]:
# drop columns that aren't useful to us
id_merge = id_merge.drop(['ID','V1','V7','V16', 'V14'], axis=1)
print(id_merge.head())

   V3  V4  V8     V9  V10   V11  V18  V12    V13   V15  V17       V19    V2  \
0   1  81  87  16986  941  94.0  Dry  7.0  clear  95.0  1.0  daylight  1265
1   1  81  87  16986  941  94.0  Dry  7.0  clear  95.0  0.0  daylight  1265
2   1  81  87  16986  941  94.0  Dry  7.0  clear  95.0  0.0  daylight  1265
3   1  81  87  16986  941  94.0  Dry  7.0  clear  95.0  0.0  daylight  1265
4   1  81  87  16986  941  94.0  Dry  7.0  clear  95.0  0.0  daylight  1265

      V5  V6  DrivingStyle
0  10243   2             2
1  10243   2             2
2  10243   2             2
3  10243   2             2
4  10243   2             2

In [5]:
id_merge.shape

(3663006, 16)

In [6]:
id_merge.tail(20)

,V3,V4,V8,V9,V10,V11,V18,V12,V13,V15,V17,V19,V2,V5,V6,DrivingStyle
3662986,2,68,83,10728,1896,124.0,Dry,9.0,rain,91.0,8.0,night,710,3244,2,2
3662987,1,73,88,2046,572,39.0,Dry,5.0,rain,89.0,3.0,night,710,3244,2,2
3662988,1,73,88,2046,572,39.0,Dry,5.0,rain,89.0,3.0,night,710,3244,2,2
3662989,1,73,88,2046,572,39.0,Dry,5.0,rain,89.0,3.0,night,710,3244,2,2
3662990,1,73,88,2046,572,39.0,Dry,5.0,rain,89.0,3.0,night,710,3244,2,2
3662991,1,73,88,2046,572,39.0,Dry,5.0,rain,89.0,3.0,night,710,3244,2,2
3662992,1,73,88,2046,572,39.0,Dry,5.0,rain,89.0,3.0,night,710,3244,2,2
3662993,1,73,88,2046,572,39.0,Dry,5.0,rain,89.0,3.0,night,710,3244,2,2
3662994,1,73,88,2046,572,39.0,Dry,5.0,rain,89.0,3.0,night,710,3244,2,2
3662995,1,73,88,2046,572,39.0,Dry,5.0,rain,89.0,3.0,night,710,3244,2,2
3662996,1,73,88,2046,572,39.0,Dry,5.0,rain,89.0,3.0,night,710,3244,2,2
3662997,1,73,88,2046,572,39.0,Dry,5.0,rain,89.0,3.0,night,710,3244,2,2
3662998,1,73,88,2046,572,39.0,Dry,5.0,rain,89.0,3.0,night,710,3244,2,2
3662999,1,73,88,2046,572,39.0,Dry,5.0,rain,89.0,3.0,night,710,3244,2,2
3663000,1,73,88,2046,572,39.0,Dry,9.0,rain,91.0,8.0,night,710,3244,2,2
3663001,1,73,88,2046,572,39.0,Dry,9.0,rain,91.0,8.0,night,710,3244,2,2
3663002,2,69,68,3244,710,1.0,Dry,9.0,snow,91.0,8.0,night,2001,27812,6,1
3663003,2,69,68,3244,710,1.0,Dry,9.0,snow,91.0,8.0,night,2001,27812,6,1
3663004,1,86,73,1167,535,107.0,Dry,9.0,snow,91.0,8.0,night,2001,27812,6,1
3663005,1,86,73,1167,535,107.0,Dry,9.0,snow,91.0,8.0,night,2001,27812,6,1

In [7]:
# 3 is "vague", don't want that
id_merge_filter = id_merge[id_merge.DrivingStyle != 3]
id_merge_filter.shape

(2476630, 16)

In [8]:
id_merge_filter.describe()

,V3,V4,V8,V9,V10,V11,V12,V15,V17,V2,V5,V6,DrivingStyle
count,2.476630e+06,2.476630e+06,2.476630e+06,2.476630e+06,2.476630e+06,2.427772e+06,2.446678e+06,2.445607e+06,2.440554e+06,2.476630e+06,2.476630e+06,2.476630e+06,2.476630e+06
mean,1.504402e+00,8.254494e+01,8.257825e+01,4.020400e+03,7.176301e+02,6.157098e+01,4.648097e+00,5.939862e+01,3.979215e+00,7.395498e+02,4.330450e+03,2.504350e+00,1.823784e+00
std,4.999807e-01,9.063491e+00,9.072699e+00,6.385328e+03,4.148755e+02,1.074952e+02,3.114893e+00,1.845869e+01,3.005287e+00,4.092073e+02,6.578054e+03,1.200786e+00,3.810040e-01
min,1.000000e+00,8.000000e+00,0.000000e+00,3.000000e+00,1.020000e+02,1.000000e+00,-1.300000e+01,1.700000e+01,0.000000e+00,1.550000e+02,4.400000e+01,2.000000e+00,1.000000e+00
25%,1.000000e+00,7.800000e+01,7.800000e+01,1.480000e+03,5.250000e+02,3.000000e+00,2.000000e+00,4.500000e+01,1.000000e+00,5.450000e+02,1.557000e+03,2.000000e+00,2.000000e+00
50%,2.000000e+00,8.200000e+01,8.200000e+01,1.799000e+03,5.540000e+02,2.200000e+01,5.000000e+00,5.600000e+01,4.000000e+00,5.620000e+02,1.857000e+03,2.000000e+00,2.000000e+00
75%,2.000000e+00,8.700000e+01,8.700000e+01,2.297000e+03,5.990000e+02,7.600000e+01,7.000000e+00,7.500000e+01,7.000000e+00,5.970000e+02,2.408000e+03,2.000000e+00,2.000000e+00
max,2.000000e+00,1.610000e+02,1.610000e+02,6.954800e+04,2.981000e+03,1.797000e+03,2.400000e+01,9.700000e+01,1.700000e+01,2.335000e+03,5.723000e+04,9.000000e+00,2.000000e+00

In [9]:
id_merge_filter.describe(include = 'object')

            V18      V13      V19
count   2476630  2476630  2476630
unique        4        3        3
top         Dry    clear    night
freq    1714905  2292741  1265919

In [10]:
# extract desired feature
from sklearn.model_selection import train_test_split
fd_train, fd_test = train_test_split(id_merge_filter, test_size=0.3)

# between 1 and 2, so subtract by 1. 
targets_train = fd_train["DrivingStyle"].tolist()
targets_train = list(map(lambda x: x - 1, targets_train))
targets_test = fd_test["DrivingStyle"].tolist()
targets_test = list(map(lambda x: x - 1, targets_test))

# don't leave result feature in your training data
fd_train = fd_train.drop("DrivingStyle",axis=1)
fd_test = fd_test.drop("DrivingStyle",axis=1)

/Users/jacob/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## Ship this pipeline:

In [11]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.linear_model import LogisticRegression


num_pipeline = Pipeline([
        ('imputer', SimpleImputer(strategy="median")),
        ('std_scaler', StandardScaler()),
    ])

# Transform categorical/numerical columns using different approaches:
categorical_features = ["V13", "V18", "V19"]
numerical_features = [x for x in fd_train.columns if x not in categorical_features]

full_pipeline = Pipeline([('ct', ColumnTransformer([
        ("num", num_pipeline, numerical_features),
        ("cat", OneHotEncoder(), categorical_features),
    ])),
                ('lr', LogisticRegression())])

no_fit_pipeline = ColumnTransformer([
        ("num", num_pipeline, numerical_features),
        ("cat", OneHotEncoder(), categorical_features),
    ])
#fd_test_tr = full_pipeline.fit_transform(fd_test)

In [12]:
fd_train_tr_fit = full_pipeline.fit(fd_train, targets_train)
print(type(fd_train_tr_fit))

<class 'sklearn.pipeline.Pipeline'>

In [13]:
print(fd_train_tr_fit.score(fd_train, targets_train))

0.8368572270729637

In [14]:
print(fd_train_tr_fit.score(fd_test, targets_test))

0.8371590965680514

## Fine tune model parameters

In [15]:
# wrap this in a loop or something
tuning_pipeline = Pipeline([('ct', ColumnTransformer([
        ("num", num_pipeline, numerical_features),
        ("cat", OneHotEncoder(), categorical_features),
    ])),
                ('lr', LogisticRegression())])
tuning_fit = tuning_pipeline.fit(fd_train, targets_train)
print(tuning_fit.score(fd_test, targets_test))

0.8371590965680514

### Pickle Time

In [16]:
import joblib

In [17]:
joblib.dump(fd_train_tr_fit, 'fd_prod_tr.pkl')

['fd_prod_tr.pkl']

In [18]:
cls_import = joblib.load('fd_prod_tr.pkl')

In [19]:
fd_test.head()

,V3,V4,V8,V9,V10,V11,V18,V12,V13,V15,V17,V19,V2,V5,V6
2403739,1,89,102,1982,614,130.0,Visible tracks,6.0,clear,54.0,7.0,night,566,1736,2
2338493,1,79,81,1563,592,1.0,Dry,8.0,clear,48.0,8.0,twilight,569,2021,2
583492,1,79,78,1938,551,30.0,Dry,3.0,clear,47.0,5.0,daylight,552,2024,2
1619179,2,82,89,1064,477,224.0,Wet,7.0,clear,91.0,3.0,daylight,1059,3727,4
1072420,1,87,73,2211,588,74.0,Wet,2.0,rain,84.0,0.0,daylight,1680,13856,4

In [20]:
print(cls_import.score(fd_test, targets_test))
sample_dict = {'V3': [1,2], 'V4': [84,69], 'V8': [84,68], 'V9': [2122,3244],
              'V10': [554,710], 'V11': [59.0,1.0], 'V18': ["Dry","Dry"], 
              'V12': [6.0,9.0], 'V13': ["clear","snow"], 'V15': [92.0,91.0],
              'V17': [0.0,8.0], 'V19': ["night","night"], 'V2': [569,2001],
              'V5': [1709,27812], 'V6': [2,6]}
sample_pd = pd.DataFrame.from_dict(sample_dict)
cls_import.predict(sample_pd)

0.8371590965680514

array([1, 0])

In [21]:
cls_import = joblib.load('fd_prod_tr.pkl')
sample_dict = {'V3': [2], 'V4': [92], 'V8': [84], 'V9': [2122],
              'V10': [554], 'V11': [59.0], 'V18': ["Wet"], 
              'V12': [6.0], 'V13': ["clear"], 'V15': [92.0],
              'V17': [0.0], 'V19': ["night"], 'V2': [569],
              'V5': [1709], 'V6': [2]}
    
dataframe = pd.DataFrame.from_dict(sample_dict)
    #dataframe = pd.DataFrame.from_dict(sample_dict)
prediction_result = cls_import.predict(dataframe)
print(prediction_result)

[1]

## Trying different models

In [22]:
fd_train_tr = no_fit_pipeline.fit_transform(fd_train)
fd_test_tr = no_fit_pipeline.fit_transform(fd_test)

In [23]:
from sklearn.linear_model import LinearRegression

# train a linear regression model
lin_reg = LinearRegression()
lin_reg.fit(fd_train_tr, targets_train)

# choose a few training examples and make predictions on them
features = fd_train_tr[:50, :]
targets = targets_train[:50]
predictions = lin_reg.predict(features)

print("Predictions:", predictions)
print("Actual labels:", list(targets))

Predictions: [0.70498657 0.69036865 1.00274658 0.79626465 0.87646484 1.00335693
 0.66452026 1.0055542  0.36346436 0.8939209  0.83795166 0.52865601
 0.37609863 0.8024292  1.01486206 0.68563843 0.8772583  0.68011475
 0.9072876  0.93405151 0.93295288 0.90628052 1.00201416 0.97357178
 0.9753418  0.91152954 0.68527222 0.54794312 0.88946533 0.91894531
 0.9125061  1.00375366 0.41967773 0.9949646  0.79672241 1.00997925
 0.25628662 0.7824707  0.66119385 0.83526611 0.87744141 0.88430786
 0.70550537 0.88821411 1.00854492 0.32476807 0.89709473 0.99224854
 0.99029541 0.98910522]
Actual labels: [1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1]

Attribution for pytorch lin reg: https://machinelearningmastery.com/building-a-logistic-regression-classifier-in-pytorch/

In [24]:
from sklearn.linear_model import LogisticRegression

# train a linear regression model
log_reg = LogisticRegression()
log_reg.fit(fd_train_tr, targets_train)

# choose a few training examples and make predictions on them
features = fd_train_tr[:50, :]
targets = targets_train[:50]
predictions = lin_reg.predict(features)

print("Predictions:", predictions)
print("Actual labels:", list(targets))

Predictions: [0.70498657 0.69036865 1.00274658 0.79626465 0.87646484 1.00335693
 0.66452026 1.0055542  0.36346436 0.8939209  0.83795166 0.52865601
 0.37609863 0.8024292  1.01486206 0.68563843 0.8772583  0.68011475
 0.9072876  0.93405151 0.93295288 0.90628052 1.00201416 0.97357178
 0.9753418  0.91152954 0.68527222 0.54794312 0.88946533 0.91894531
 0.9125061  1.00375366 0.41967773 0.9949646  0.79672241 1.00997925
 0.25628662 0.7824707  0.66119385 0.83526611 0.87744141 0.88430786
 0.70550537 0.88821411 1.00854492 0.32476807 0.89709473 0.99224854
 0.99029541 0.98910522]
Actual labels: [1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1]

In [25]:
from sklearn.metrics import mean_squared_error

# Make predictions on transformed data set
predictions_test = log_reg.predict(fd_test_tr)

# Evaluate predictions
rmse = mean_squared_error(targets_test, predictions_test, squared=False)
print("Root Mean Squared Error:", rmse)

Root Mean Squared Error: 0.4035988704145566

In [26]:
# Show a few predictions and corresponding labels
print("Sample predictions:", predictions_test[:5])
print("Sample labels:", targets_test[:5])

correct = 0
wrong = 0
for i,p in enumerate(predictions_test):
    if(p == targets_test[i]):
        correct += 1
    else:
        wrong += 1
print("Right:", correct)
print("Wrong:", wrong)

Sample predictions: [1 1 1 1 0]
Sample labels: [1, 1, 1, 1, 1]
Right: 621962
Wrong: 121027

# TRASH - DO NOT RUN OR USE

In [27]:
def np2d_to_npl(arr2):
    result = []
    for i in range(0,arr2.shape[0]):
        result.append(arr2[i])
    return result

def tl_to_ttup(tl, rl):
    result = []
    for i in range(0, tl.shape[0]):
        result.append((tl[i],rl[i]))
    return result

In [28]:
"""
import torch
from torch.utils.data import TensorDataset, DataLoader
tensor_train = torch.Tensor(np2d_to_npl(fd_train_tr)) # transform to torch tensor
tensor_test = torch.Tensor(np2d_to_npl(fd_test_tr))
"""

'\nimport torch\nfrom torch.utils.data import TensorDataset, DataLoader\ntensor_train = torch.Tensor(np2d_to_npl(fd_train_tr)) # transform to torch tensor\ntensor_test = torch.Tensor(np2d_to_npl(fd_test_tr))\n'

In [29]:
"""
tuple_train = tl_to_ttup(tensor_train, targets_train)
train_dl = DataLoader(tuple_train, shuffle=True)

tuple_test = tl_to_ttup(tensor_test, targets_test)
test_dl = DataLoader(tuple_test, shuffle=False)
"""

'\ntuple_train = tl_to_ttup(tensor_train, targets_train)\ntrain_dl = DataLoader(tuple_train, shuffle=True)\n\ntuple_test = tl_to_ttup(tensor_test, targets_test)\ntest_dl = DataLoader(tuple_test, shuffle=False)\n'

In [30]:
"""
class LogisticRegression(torch.nn.Module):
    def __init__(self, n_inputs, n_outputs):
        super().__init__()
        self.linear = torch.nn.Linear(n_inputs, n_outputs)
    
    def forward(self, x):
        y_pred = torch.sigmoid(self.linear(x))
        return y_pred
"""

'\nclass LogisticRegression(torch.nn.Module):\n    def __init__(self, n_inputs, n_outputs):\n        super().__init__()\n        self.linear = torch.nn.Linear(n_inputs, n_outputs)\n    \n    def forward(self, x):\n        y_pred = torch.sigmoid(self.linear(x))\n        return y_pred\n'

In [31]:
"""
# 22 inputs, 2 outputs
n_inputs = tuple_train[0][0].shape[0]
n_outputs = 2


log_regr = LogisticRegression(n_inputs, n_outputs)
print('Finished cell 16')
"""

"\n# 22 inputs, 2 outputs\nn_inputs = tuple_train[0][0].shape[0]\nn_outputs = 2\n\n\nlog_regr = LogisticRegression(n_inputs, n_outputs)\nprint('Finished cell 16')\n"

In [32]:
"""
print("sanity")
#import matplotlib.pyplot as plt
# Defining optimizer
optimizer = torch.optim.SGD(log_regr.parameters(), lr=0.001)
# Defining Cross-Entropy Loss
criterion = torch.nn.CrossEntropyLoss()

epochs = 50
Loss = []
acc = []
"""

'\nprint("sanity")\n#import matplotlib.pyplot as plt\n# Defining optimizer\noptimizer = torch.optim.SGD(log_regr.parameters(), lr=0.001)\n# Defining Cross-Entropy Loss\ncriterion = torch.nn.CrossEntropyLoss()\n\nepochs = 50\nLoss = []\nacc = []\n'

In [33]:
"""
print("sanity 2")
for epoch in range(epochs):
    print('Entered Epoch')
    for i, (feature, label) in enumerate(train_dl):
        print(i, feature, label)
        print('Entered feature and label for training')
        optimizer.zero_grad()
        outputs = log_regr(feature.view(-1, n_inputs))
        loss = criterion(outputs, label)
        print('Before backwards step')
        
        loss.backward()
        optimizer.step()
    Loss.append(loss.item())
    correct = 0
    
    for feature, label in test_dl:
        print('Entered feature and label for testing')
        outputs = log_regr(feature.view(-1, n_inputs))
        _, predicted = torch.max(outputs.data, 1)
        correct += (predicted == label).sum()
    accuracy = 100 * (correct.item()) / len(tuple_test)
    acc.append(accuracy)
    print('Epoch: {}. Loss: {} Accuracy: {}'.format(epoch, loss.item(), accuracy))
    """

'\nprint("sanity 2")\nfor epoch in range(epochs):\n    print(\'Entered Epoch\')\n    for i, (feature, label) in enumerate(train_dl):\n        print(i, feature, label)\n        print(\'Entered feature and label for training\')\n        optimizer.zero_grad()\n        outputs = log_regr(feature.view(-1, n_inputs))\n        loss = criterion(outputs, label)\n        print(\'Before backwards step\')\n        \n        loss.backward()\n        optimizer.step()\n    Loss.append(loss.item())\n    correct = 0\n    \n    for feature, label in test_dl:\n        print(\'Entered feature and label for testing\')\n        outputs = log_regr(feature.view(-1, n_inputs))\n        _, predicted = torch.max(outputs.data, 1)\n        correct += (predicted == label).sum()\n    accuracy = 100 * (correct.item()) / len(tuple_test)\n    acc.append(accuracy)\n    print(\'Epoch: {}. Loss: {} Accuracy: {}\'.format(epoch, loss.item(), accuracy))\n    '

In [34]:
"""
tuple_train[0][0].shape
tuple_test[0][0].shape
"""

'\ntuple_train[0][0].shape\ntuple_test[0][0].shape\n'

In [35]:
"""plt.plot(Loss)
plt.xlabel('Number of Epochs')
plt.ylabel('Total Loss')
plt.title('Loss')
plt.show()

plt.plot(acc)
plt.xlabel('Number of Epochs')
plt.ylabel('Total Accuracy')
plt.title('Accuracy')
plt.show()"""

"plt.plot(Loss)\nplt.xlabel('Number of Epochs')\nplt.ylabel('Total Loss')\nplt.title('Loss')\nplt.show()\n\nplt.plot(acc)\nplt.xlabel('Number of Epochs')\nplt.ylabel('Total Accuracy')\nplt.title('Accuracy')\nplt.show()"